# THE FOLLOWING VALUES ARE PLACEHOLDERS INTENDED AS AN EXAMPLE. TO USE:
# - copy this file and rename to .env 
# - fill out the placeholders with the appropriate values for the given service after sign up


VITE_API_BASE_URL=http://localhost:7000

VITE_AUTH0_DOMAIN=dev-xxx.us.auth0.com
VITE_AUTH0_CLIENT_ID=Cn88qxxx
VITE_AUTH0_CALLBACK_URL=http://localhost:5173
VITE_AUTH0_AUDIENCE=xx-xxxx-xxx-api